/* Created by Cindy Ohara
    CIS 148
    Created November 15, 2024*/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 900px;
    height: 1300px;
    margin: 0 auto 0;
    padding-top: .5em;
    border: 3px solid steelblue;
    box-shadow: 0 10px 6px 6px black;
}
header {
    
    border-bottom: 3px solid steelblue;
    background-image: 
        linear-gradient(to bottom, white 0%, lightsteelblue 100%);
}
aside {
    float: none;
}
figcaption {
    display: block;
    font-weight: bold;
    text-align: center;
    font-size: 130%;
    padding-top: 1em;
}
section {
    float: right;
}
table {
    padding: 1em 2em 0 4em;
    margin-right: 0;
}
tr th {
    padding-bottom: 2em;
}
div {
    padding-top: 1em;
}
main {
    margin-left: 2em;
    margin-right: 0;
    margin-bottom: 0;
    padding-bottom: 2em;
}
header img {
    float:left;
    padding-left: 3em;
    padding-right: 3em;
}
header h1 {
    font-size: 220%;
    text-indent: 30px;
    color: steelblue;
    font-style: italic;
    text-shadow: 3px 3px steelblue;
    padding-left: 2em;
}
header h3 {
    text-indent: 30px;
    font-size: 140%;
    padding-bottom: 1em;
}
#nav_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    position: relative;
}
#nav_menu ul li {
    float: left;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
}
#nav_menu ul ul li {
    float: none;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
    display: block;
    background-color: lightsteelblue;
}
#nav_menu ul li:hover > ul {
    display: block;
}
#nav_menu ul li a.current {
    color: black;
}
#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 180px;
    padding: 1em 0;
    text-decoration: none;
    background-color: steelblue;
    color: white;
    font-weight: bold;
}
#nav_menu > ul::after {
    display: block;
    clear: both;
}
aside h2 {
    font-size: 115%;
    color: maroon;
    padding-bottom: 0;
    padding-top: 3em;
}
aside ul{
    font-weight: bold;
    font-size: 100%;
    line-height: 2em;
    padding: .5em;
}
a:hover, a:focus {
    color: maroon;
}
li a{
    color:steelblue;
    text-decoration: none;
}
section {
   width: 75%; 
   padding-left: 1em;
   float: right;
}
.left {
    text-align: left;
}
#left1 {
    padding-right: 2em;
}
#right {
    text-align: right;
}
.item {
    padding-right: 3em;
    width: 20%;
}
h3 a{
    color: maroon;
    font-size: 90%;
}
.category {
    vertical-align: top;
    font-weight: bold;
    padding-right: 2em;
}       
.cal {
    text-align: right;
}
footer p{
    clear: both;
    font-size: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: steelblue;
    color: white;
    padding: 20px;
    margin: 0;
}