/*  Edited by Cindy Ohara
    CIS 148
    October 1, 2024 
    Revised October 9, 2024
    Revised October 16, 2024
    Revised October 24, 2024
    Revised November 1, 2024*/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    max-width: 1024px;
    width: 95%;
    margin: 0;
    padding-top: .5em;
    border: 3px solid steelblue;
    box-shadow: 0 10px 6px 6px black;
}
header {
    
    border-bottom: 3px solid steelblue;
    background-image: 
        linear-gradient(to bottom, white 0%, lightsteelblue 100%);
}
main {
    padding: 1em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 0;
 }
aside {
    float: left;
}

header img {
    float:left;
    min-width: 70px;
    max-width: 140px;
    padding-left: 7em;

}
header h1 {
    font-size: 220%;
    /*text-indent: 5em;*/
    text-align: center;
    color: steelblue;
    font-style: italic;
    text-shadow: 3px 3px steelblue;
    padding-right: 3em;
}
header h3 {
    /*text-indent: 30px;*/
    text-align: center;
    font-size: 140%;
    padding-bottom: 1em;
    padding-right: 3em;
}
#nav_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    position: relative;
    width: 100%;
    padding-right: 2em;
}
#nav_menu ul li {
    float: left;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
   
}
#nav_menu ul ul li {
    float: none;

}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
    display: block;
    background-color: lightsteelblue;
}
#nav_menu ul li:hover > ul {
    display: block;
}
#nav_menu ul li a.current {
    color: black;
}
#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 180px;
    padding: 1em 0;
    text-decoration: none;
    background-color: steelblue;
    color: white;
    font-weight: bold;
}
#nav_menu > ul::after {
    display: block;
    clear: both;
}

section {
   width: 60%; 
   padding-left: 17.5em;
}
section h2 {
    text-indent: 0;
    font-size: 150%;
    padding-top: 1.5em;
}
div {
    padding-left: 0;
}
div h2{
    font-size: 150%;
}
div h3 {
    color: maroon;
} 
h3 a{
    color: maroon;
    font-size: 90%;
}       
div a:hover, a:focus {
    color: steelblue; 
}
aside h2 {
    font-size: 130%;
    color: maroon;
    line-height: 0;
    padding-bottom: 0;
    padding-top: 1em;
}

aside ul{
    float: left;
    font-weight: bold;
    font-size: 100%;
    line-height: 2em;
    width: 100%;
    padding: .5em;
}
a:hover, a:focus {
    color: maroon;
}
li a{
    color:steelblue;
    text-decoration: none;
}
#mobile_menu {
    display: none;
}
/* For screens up to 900px width*/
@media only screen and (max-width: 900px) {
    body {
        font-size: 90%;
        box-shadow: none;
    }
}
/* For screens up to 767px width*/
@media only screen and (max-width: 767px) {
    #nav_menu {
        display: none;
    }
   #mobile_menu {
        display: block;
    }
    .slicknav_menu {
        background-color: steelblue !important;
        padding: 3px;
    }
    #mobile_menu ul, #mobile_menu ul a {
        background-color: steelblue;
    }
    a:hover, a:focus {
        color: lightsteelblue;
    }
    h1 {
        font-size: 200%;
    }
    aside {
        padding: 0;
    }
    aside ul {
        padding-left: 1em;
        width: 100%;
    }
    section {
        padding: 0;
        margin: 0;
        width: 90%
    }
    section h2 {
        padding-top: 0;
    }
    main {
        margin: 0;
    }
}   
/* For screens up to 479px width*/
@media only screen and (max-width: 479px) {
    header h1 {
        font-size: 150%;
        text-shadow: 1px 1px steelblue;
    }
    header h3 {
        font-size: 125%;
    }
    header img {
        float: left;
        margin: 0;
        padding-left: 1em;
    }
    section h2 {
        font-size: 125%;
    }
    section h3 {
        font-size: 110%;
    }
    section p {
        font-size: 100%;
    }
    aside ul {
        padding-left: 1em;
        width: 100%;
    }
}
footer p{
    clear: left;
    font-size: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: steelblue;
    color: white;
    padding: 10px;
    margin: 0;
}